@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}





@*------------------ TODO MOVE STYLE TO CSS AFTER EDITING --------------------*@
<style>
    .jumbotron {
        background-color: #9d3e3e;
        color: #ffffff;
    }
</style>




<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-2" style="font-family:sans-serif"><span style="color:#f3d832">G</span>olden <span style="color:#f3d832">S</span>hoe</h1>
        <blockquote class="blockquote text-center">
            <p class="mb-0"><s>></s> Style for any occasion <s><</s></p>
        </blockquote>
    </div>
</div>
@*<footer class="blockquote-footer text-right">First thing I step into <cite title="Source Title">  Celebrity #123</cite></footer>*@


    <div class="container-fluid text-center bg-grey">
        <hr />
        <div class="row w-100 h-100">
            <div class="col-sm-4 col-sm-push-8">
                <div class="thumbnail">
                    <img class="img-fluid" src="https://i1.adis.ws/i/dunelondon/MARILA-0475509520006509_ALT7?$dl_medium$" alt="Shoe1">
                    <p><strong>MARILA - BROWN</strong></p>
                    <p></p>
                </div>
            </div>
            <div class="col-sm-4 col-sm-push-8">
                <div class="thumbnail">
                    <img class="img-fluid" src="https://i1.adis.ws/i/dunelondon/COMISTON-0474503730006484_ALT7?$dl_medium$" alt="Shoe2">
                    <p><strong>COMISTON - BLACK</strong></p>
                    <p></p>
                </div>
            </div>
            <div class="col-sm-4 col-sm-push-8">
                <div class="thumbnail">
                    <img class="img-fluid" src="https://i1.adis.ws/i/dunelondon/MILLING-0477504340010509_ALT7?$dl_medium$" alt="Shoe3">
                    <p><strong>MILLING - BROWN</strong></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
