@page
@model GoldenShoe.Site.SupportIndexModel
@{
    ViewData["Title"] = "SupportIndex";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>SupportIndex</h1>
<hr />
<div>
<pre style="font-size:large"> 
Customer Helpline is open between 9am - 5pm MONDAY - FRIDAY 
For Refunds you can submit a refund ticket by clicking on the Refund Recent Purchase button.

Delivery times and Dates 
TO BE LISTED :- <hr />
</pre>
</div>

<div class="modal-body">
    <a asp-page="./ChoosePurchase"><button class="btn btn-info">Refund Recent Purchase</button></a>
</div>
