.checked {
    color: orange;
}

.fa-star {
    cursor: pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
}


.card-columns .card-body {
    height: auto;
    margin:auto;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;

}
.row {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    height: 330px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: .97;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}


a.navbar-brand {
    white-space: normal;
    font-family: Roboto, sans-serif;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

p {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

ul {
    font-family: 'Nunito', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}
/*Backgrounds*/
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -o-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -moz-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
}

.bg-footer {
    background: -webkit-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -o-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -moz-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
}


.btn-info{
    background-color: darkslategray;
    
}

.pop-up-price{
    font-size:2em;
}
/* Store page quickbar
-------------------------------------------------- */

/********************* Shopping Demo-6 **********************/

@media only screen and (max-width:990px){.product-grid6{margin-bottom:30px}
}

.card-columns .social {
    background-color: #fbfafd;
    width: 100%;
    padding: 4em;
    margin-bottom: 20%;
    text-align: center;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: -90%;
    left: 50%;
    z-index: 1;
    transition: all .2s ease 0s
}
.card-columns .card-footer:hover .social{opacity:1;bottom:20px}
.card-columns .social li{display:inline-block}
.card-columns .social li a{color:#909090;font-size:16px;line-height:45px;text-align:center;height:45px;width:45px;margin:0 7px;border:1px solid #909090;border-radius:50px;display:block;position:relative;transition:all .3s ease-in-out}
.card-columns .social li a:hover{color:#fff;background-color:#2e86de;width:80px}
.card-columns .card-footer .social li a:after {
        content: attr(data-tip);
        color: #fff;
        background-color: #2e86de;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 20px;
        padding: 1px 5px;
        border-radius: 5px;
        border-width:5px;
        white-space: nowrap;
        opacity: 0;
        transform: translateX(-50%);
        position: absolute;
        width:auto;
        left: 50%;
        bottom:110%;
        
    }
.card-columns .card-footer.social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.card-columns .social li a:hover:after,.product-grid6 .social li a:hover:before{opacity:1}

/*Sale Icon next to product label*/

.card .product-sale-label {
    background-color: #d92f24;
    color: #fff;
    font-size: 17px;
    padding: 2px 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all .3s;
    z-index: 1;
}

/* Show more button for social view*/
.card-columns .card .card-body .mouse-over {
    opacity: 0;
    text-align: center;
    color:crimson;
}

.card-columns .card:hover .card-body .mouse-over {
    opacity: 1;
}

/* Product details page styles
-------------------------------------------------- */
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 1em;
}

    .wrapper > div {
        padding: 1em;
    }

.image-box {
    grid-column: 1/2;
    grid-row: 1/3;
}

.product-description-box {
    background-color: #eee;
    align-items: center;
    align-content: center;
    grid-column: 2;
    grid-row: 1/3;
}

.product-promo {
    grid-column: 1/3;
}


.selected:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}
